        /*container contem os slideshow*/
        .slideshow-container {
          max-width: 100%;
          position: relative;
          margin: 0;
        }
        /*efeitos */
        .fade{
          -web-kit-animation-name: fade;
          -web-kit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }
        @-webkit-keyframes fade{
            from {opacity: .4}
            to{opacity: 1}
        }
        img{
          position: relative;
          width: 100%;
          height: auto;
          vertical-align: middle;
        }
        /*os botoes proximo e voltar*/
        .previous, .next {
          top: 40%;
          width: auto;
          cursor: pointer;
          position: absolute;
          transition: 0.4s;       
          padding: 16px;
          margin-top: -22px; 
          font-weight: bold;
          font-size: 30px;
          transition: 1s ease-in-out;
        } 
        /*posiciona o botao para o lado direito*/
        .next {
          right: 0;
        }
        /*quando passado o mouse sobrepoe com cor as setas*/
        .next:hover, .previous:hover {
           /*background-color: rgba(0,0,0,0.8);*/
           background-color: #717171;
        }
        /*cores das setas proximno e antes*/
        .next, .previous {
          color: #fff;
        }
        /*pontos exibe a imagem atual*/
        .dot-contents{
          position: relative;
          padding: 16px;
          margin-top: -50px;
        }
        /*pontos */
        .dot {
          height: 10px;
          width: 10px;
          margin: 0 2px;
          display: inline-block;
          border-radius: 50%;
          border-style: solid;
          border-color: white    
        }
        /*quando passado o mouse sobre os pontos*/
        .active {
          background-color: #fff;
        }